.create-event {
  height: 90vh;

  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
}

.create-event .event-form {
  min-height: 24vh;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
}

.create-event .event-form .calendar {
  max-width: 68vw;

  padding: 4vmin 0;
}

.create-event .event-form .calendar button {
  width: 100%;
  border-radius: 0;

  padding: 4px;
}

.create-event .event-form .keyword {
  padding: 4vmin 0;
}

.create-event .event-form .keyword input {
  border-radius: 0;
  padding: 4px;
  text-align: center;
}

.create-event .event-form button.action {
  border-radius: 0;
  padding: 4px;
  background-color: black;
  color: white;
}

.create-event .join-event-link {
  text-decoration: underline;
}
